@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Nanum+Gothic&display=swap');

main {
	margin: 0 auto;
	max-width: 90%;
  padding: 50px 30px;
}
:root {
  --secondary: #DD7596;
  --tertiary: #CF1259;
  --light: #FAF6F6;
  --aqua: #CBF7ED;
  --electricBlue: #004FFF;
  --darker: #001427;
  --onyx: #051014;
  --error: #EF767A;
  --spacing-one: calc(1rem * 0.5);
  --spacing-two: calc(1rem);
  --spacing-five: calc(2.5rem);

}

* {
  box-sizing: border-box;
}

html,
body {
  min-height: 100%; 
  font-family: 'Nanum Gothic', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  font-size: 18px;
  letter-spacing: .1em;
  color: var(--onyx);
  background-color: var(--light);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  margin: 5px 0;
  line-height: 1.25;
}

h1 {
  font-size: 2.25rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

p {
  line-height: 1.5;
  font-size: 1.3rem;
}

button {
  font-size: 1rem;
  text-decoration: none;
  padding: 0.25rem 1rem;
  border-radius: .5rem;
  border: none;
  outline: none;
  cursor: pointer;
  margin: 10px;
	border: 0;
	border-radius: 10rem;
	cursor: pointer;
	font-size: 2rem;
}

button:hover {
  background-color: var(--tertiary);
  transition: .3s;
} 

img {
  max-width: 100%;
}

form {
  width: 40%;
}

input {
  font-size: 1rem;
  padding: .50rem;
  margin: .25rem;
  border: 1px solid var(--onyx);
  outline: none;
  border-radius: 5px;
  transition: box-shadow 0.2s;
}

input:focus {
  border: 1px solid var(--secondary);
  box-shadow: 0 0 .25rem rgba(0, 0, 0, .5);
}

ul{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

li {
  list-style: none;
}

a {
  color: var(--tertiary);
  text-decoration: none;
  font-size: 1.4rem;
}

a:hover {
  color: var(--secondary);
  transition: .3s;
}

nav a {
  padding: 10px;
  color: var(--aqua);
  text-decoration: none;
  font-size: 1.6rem;
}

nav a:hover {
  text-decoration: none;
  color: var(--electricBlue);
  transition: .3s;
}

nav  li {
  cursor: pointer;
}

textarea {
	width: 600px;
	height: 120px;
	border: 3px solid #cccccc;
  border-radius: 5px;
	padding: 5px;
}

.card {
  padding: 3vh;
  width: 50vh;
}

.cardTitle {
  font-family: 'Nunito', sans-serif;
  padding: 10px;
  font-size: 3vh;
  cursor: pointer;
}
.center {
  display:flex;
  align-items: center;
  text-align: center;
  padding: 5vh;
}

.container {
  width: 85%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.favicon {
  cursor: pointer;
  padding: 2vh 0vh 0vh 2vh;
}

.flex-end {
  justify-content: flex-end;
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
}

.hero {
  background-position: center;
  height: 80%;
  width: 100%;
  cursor: pointer;
  border-bottom: 4px solid var(--darker);
}

.mx-1 {
  margin-right: var(--spacing-one);
  margin-left: var(--spacing-one);
}

.mx-2 {
  margin-right: var(--spacing-two);
  margin-left: var(--spacing-two);
}

.my-1 {
  margin-top: var(--spacing-one);
  margin-bottom: var(--spacing-one);
}

.my-2 {
  margin-top: var(--spacing-two);
  margin-bottom: var(--spacing-two);
}

.my-5 {
  margin-top: var(--spacing-five);
  margin-bottom: var(--spacing-five);
}

.px-1 {
  padding-right: var(--spacing-one);
  padding-left: var(--spacing-one);
}

.px-2 {
  padding-right: var(--spacing-two);
  padding-left: var(--spacing-two);
}

.py-1 {
  padding-top: var(--spacing-one);
  padding-bottom: var(--spacing-one);
}

.py-2 {
  padding-top: var(--spacing-two);
  padding-bottom: var(--spacing-two);
}

.space-between {
  justify-content: space-between;
}

/* .subtitle {
  color: var(--darker);
  font-size: 2em;
  font-weight: 550;
} */

/* .transition {
  font-size: 2vh;
}

.transition:hover {
  background-color: var(--onyx);
  transform: scale(1.5);
  transition: 1s;
} */

.img-thumbnail {
  width: auto;
  height: 300px;
  margin-bottom: 50px;
  cursor: pointer;
}

.intro {
  font-size: 6vh;
  padding: 30px 30px 15px 30px;
  color: var(--onyx);
  border-bottom: solid 2px var(--onyx);
  margin: 100px;
  width: 45vh;
  cursor: pointer;
}

.intro:hover {
  color: var(--electricBlue);
  border-bottom: solid 2px var(--electricBlue);
  transition: .3s;
}

.isRounded {
  border-radius: 50%;
}

.navbar{
  background-color: var(--darker);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
}



